.input-wrapper {
  display: block;
  margin-bottom: 10px;
}

.input-field {
  border: 0.5px solid #e6e6e6;
  border-radius: 7px;
  color: #333;
  padding: 3.5% 6%;
  width: 89%;
}

.field-error {
  border: 0.5px solid red;
}

.validation-error {
  color: rgb(244, 67, 54);
  font-size: 12px;
  line-height: 14px;
}
